@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x88xgu');
  src:  url('fonts/icomoon.eot?x88xgu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x88xgu') format('truetype'),
    url('fonts/icomoon.woff?x88xgu') format('woff'),
    url('fonts/icomoon.svg?x88xgu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forklift:before {
  content: "\1f436";
}
